### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Java
*.class
target/

# Node.js
node_modules/

# Python
*.pyc
__pycache/

# npm
package-lock.json

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Environment variables
.env
.env.local
